.header {
    width: 100%;
    height: 230px;
    background-image: url(../resources/images/cover.png);
    background-size: cover;
  }
  
  #header__form {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
  }
  
  .header__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }
  
  .title {
    font-family: "Pacifico", cursive;
    font-weight: 300;
    font-size: 30px;
    color: #fff;
    margin-left: 16px;
  }
  
  .darkMode {
    color: #fff;
    font-weight: 400;
    font-size: 24px;
    margin-right: 16px;
  }
  
  .hotel__Search {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center; 
    background-color: rgba(228, 228, 228, 0.9);
    margin: 0 16px;
    padding: 10px;
    border-radius: 8px;
  }
  
  .location {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: left;
    align-items: center;
  }
  
  .location > img {
    width: 16px;
    height: 30px;
    margin-right: 0;
    margin-top: 8px;
    margin-left: 0;
    padding-left: 0;
    background-color: white;
  }
  
  .select {
    width: 100%;
    margin-left: 0;
    margin-right: 6px;
    height: 30px;
    margin-top: 8px;
  }
  
  .select > select {
    width: 100%;
    height: 30px;
    border: none;
    background-color: white;
    font-size: 14px;
  }
  
  .dates {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      margin: 5px 16px;
  }
  
  .checkIn{   
      width: 100%;
      display: flex;
      /* flex-direction: row;
      justify-content: left;
      align-items: center; */
      margin-right: 5px;
  }
  
  .checkIn > img{
   width: 16px;
    height: 30px;
    margin-right: 0;
    margin-left: 0;
    background-color: white;
  }
  
  .checkIn > input{
      width: 100%;
      height:30px ;
      background-color: white;
      border: none;
      font-size: 14px;
      outline: 0;
      /* padding-left:  10px; */
  }
   /* Salida */
  
   .checkOut{
    width: 100%;
    height:30px;
    display: flex;
    /* flex-direction: row;
    justify-content: left;
    align-items: center; */
    margin-right: 5px;
  }
  
  .checkOut > img{
    width: 16px;
    height: 30px;
    margin-right: 0;
    margin-left: 0;
    background-color: white;
  }
  
  .checkOut > input{
    width: 100%;
    height:30px ;
    background-color: white;
    border: none;
    font-size: 14px;
    outline: 0;
    /* padding-left:  10px; */
      
  }
  .dates__price {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0 16px;
   }
  .price{
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: left;
      align-items: center;
      margin-right: 5px;
  }
  .price > img{
     width: 16px;
     height: 30px;
     margin-right: 0;
     margin-left: 0;
     background-color: white;
   }
   .price > input{
      width: 100%;
      height:30px ;
      background-color: white;
      border: none;
      font-size: 14px;
      padding-left:  10px;
      padding-right: 5px; 
  }
  .rooms{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-right: 5px;
  }
  
  .rooms > img{
   width: 16px;
   height: 30px;
   margin-right: 0;
   margin-left: 0;
   background-color: white;
  }
  .select__Price{
    width: 100%;
    margin-left: 0;
    height: 30px;
    background-color: white;
    
  }
  .select__Rooms{
    width: 100%;
    margin-left: 0;
    height: 30px;
    
    
  } 
  .select__Price>select{
    width: 100%;
    margin-left: 0;
    margin-right: 6px;
    height: 30px;
    border: 0px solid  rgba(228, 228, 228, 0.9);
    background-color: white;
    
  }
  .select__Rooms>select{
    width: 100%;
    margin-left: 0;
    margin-right: 6px;
    height: 30px;
    border: 0px solid  rgba(228, 228, 228, 0.9);
    background-color: white;
    }
  .button__Clear{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    margin-top: 7px;
    font-size: 12px;
    font-weight: 500;
  }
  
  .clear{
  color: #fff;
  width: 59px;
  height: 19px;
  background: rgba(51, 51, 51, 0.88);
  border-radius: 6px;
  border: none;
  margin: 6px;
  }